################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Plumb5MainCoreBuild/Plumb5MainBuild/.vs/Plumb5MainBuild
